/* Min Width 1200px and Max Width 1399px */

@media (min-width: 1200px) and (max-width: 1399px) {
}

/* Min Width 992px and Max Width 1199px */

@media (min-width: 992px) and (max-width: 1199px) {
}

/* Min Width 768px and Max Width 991px */

@media (min-width: 768px) and (max-width: 991px) {
}

/* Min Width 300px and Max Width 767px */

@media (min-width: 300px) and (max-width: 767px) {
  .login-container {
    margin: 0 20px;
  }

  .login-buttons a {
    padding: 10px 0 10px 20px;
  }

  .set-password-wrapper,
  .password-reset-wrapper {
    padding: 0 20px;
  }

  .set-password-form {
    padding: 32px 20px;
  }

  .set-password-success-container {
    padding-top: 0px;
  }

  .set-password-success-container .set-password-logo {
    display: block;
  }

  .back-to-login-btn {
    padding-top: 10px;
    padding-left: 0;
  }
}
